<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src = "javascripts/libs.js"> 
		</script>
	</head>
	<body>
		<script src ='javascripts/sources/client.min.js'>
		</script>
	</body>
</html>
