<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "javascripts/lib/jquery-2.1.1.min.js">
    </script>
    <script src ='javascripts/client.js'>
    </script>
  </head>
  <body>
    <p>This is the main page of game!
  </body>
</html>
