<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "javascripts/lib/jquery-2.1.1.min.js">
    </script>
    <script src = 'javascripts/lib/pixi.js'>
    </script>
	<style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>

  </head>
  <body>
  	<script src ='javascripts/client.js'>

	</script>
  </body>
</html>
