<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "javascripts/lib/jquery/dist/jquery.min.js">
    </script>
    <script src = 'javascripts/lib/pixi/bin/pixi.js'>
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
        }
    </style>

  </head>
  <body>
    <script src ='javascripts/client.js'>
    </script>
  </body>
</html>
