<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src = "javascripts/libs.js"> 
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
        }
    </style>

  </head>
  <body>
    <script src ='javascripts/sources/client.min.js'>
    </script>
  </body>
</html>
